.message {
    display: flex;
    align-items: flex-end;
    background: grey;
    padding: 10px;

}

.message img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.text_area {

    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: rgba(255, 255, 255, 0.3);

}

.angle {

    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.3) 0);
}

.text_message {
    max-height: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.name_user {
    font-size: 12px;
    font-weight: bold;
    color: #4f574f;
}

.time {
    display: flex;
    justify-content: flex-end;
    color: #4f574f;
    font-size: x-small;
}