.someClass {

    height: 50px;
}

.error {
    border: 2px solid red;
}

.buttonAdd {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#252525), color-stop(0.6, #777), color-stop(0.6, #404040));
    margin: 0 50px;
}
